*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aqua;
    color:black;
}

.whole{
    height:92vh;
    width:100vw;
}

.navbar ul{
    display:flex;
    text-decoration: none;  
    list-style: none;
}

.navbar ul li{
    margin: 15px 2px;
    padding: 2px 10px;
    cursor: pointer;

}
a{
    text-decoration: none;
    
}

.container h2{
    padding: 2px 10px;
}